# IDE stuff
.idea/
.vscode/

# Git stuff
.github/
.git/
scripts/

# Tooling
.editorconfig
.node-version
.oxfmtrc.json
.oxlintrc.json
codecov.yml
pnpm-lock.yaml
pnpm-workspace.yaml
tsconfig.json

# Source files
src/

# Testing
*.test.js
.nyc_output
.vscode-test
coverage/
out/test/
testOutput/