name: NodeJS

on:
  pull_request:
    branches:
      - master

  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version-file: .node-version
      - run: corepack enable
      - run: yarn set version 4.5.0
      - uses: actions/setup-node@v4
        with:
          cache: 'yarn'
          node-version-file: .node-version
      - run: yarn install --frozen-lockfile
      - run: yarn build
      - run: yarn package
      - uses: actions/upload-artifact@v4
        with:
          path: |
            *.vsix

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version-file: .node-version
      - run: corepack enable
      - run: yarn set version 4.5.0
      - uses: actions/setup-node@v4
        with:
          cache: 'yarn'
          node-version-file: .node-version
      - run: yarn install --frozen-lockfile
      - run: yarn lint
